<html>
	<head>
		<title>Space Time Help</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Space Time Help <small>Space Time Made Simple</small></h1>
			</div>
			<div class="jumbotron">
				<h1>How Speed Affects Time</h1>
				<p>Imagine you only have a certain amount of money. The more you spend on speeding through space, the less you will have to spend on travelling forwards through time.</p>
				<div id="pointsBoard"></div>
			</div>
		</div>
	</body>
<script src="javascripts/bundle.js"></script>
</html>